body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* <TODO> */
.crypto-table th {
    position: relative;
    cursor: pointer;
}

.crypto-table th:hover {
    background-color: #25365b;
}

.crypto-table th.sorting:after {
    content: "↕";
    position: absolute;
    right: 8px;
    opacity: 0.3;
}

.crypto-table th.sorting_asc:after {
    content: "↑";
    position: absolute;
    right: 8px;
    opacity: 0.8;
}
/* </TODO> */



.crypto-table {
    width: 100%;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.status-badge {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}

.status-completed {
    background-color: #10b981;
    color: white;
}

.status-in-process {
    background-color: #f59e0b;
    color: #78350f;
}

.status-in-waiting {
    background-color: #94a3b8;
    color: white;
}

.status-unknown {
    background-color: #e5e7eb;
    color: #374151;
}


table.dataTable {
    border-collapse: collapse !important;
}

.crypto-table thead th {
    height: 4.5rem; /* Approximate 3 lines text */
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    position: sticky;
    top: 0;
    z-index: 10;
}
